@font-face {
    font-family: "Romantic";
        src: url("fonts/ROMANTIC.TTF");
}

@font-face {
    font-family: "Young";
        src: url("fonts/YoungSerif-Regular.ttf");
}

@font-face {
    font-family: "Mahalini";
        src: url("fonts/Mahalini.ttf");
}

body{
    background-color: #c4c4e3;
    background-image: linear-gradient(to left, #d2d5ee,#dcded);
    margin: 20px;
}


h1{
    color: #82fdff;
    font-family: Romantic;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 30px;
    margin-bottom: 0px;
    font-size: 120px;
    border-radius: 200px;
   }

h2{
    /* color: rgb(255, 107, 14); */
    color:#311444;
    font-family: Mahalini;
    font-size: 75px;
    text-align: left !important;
    background-color: #d3d3ef;
    padding-top: 15px;
    padding-left: 50px;
    padding-bottom: 10px;
    border: #a695d9 9px double;
    border-right: none;
    border-left: none;
    border-bottom: #a695d9 9px double;

   }

/* h3{
    color: #311444;
    font-family: Romantic;
    font-size: 85px;
    text-align: left;
    background-color: #d3d3ef;
    padding-top: 20px;
    padding-left: 80px;
    padding-bottom: 15px;
    border: #a695d9 3px solid;
    border-right: none;
    border-left: none;
    border-bottom: #a695d9 9px double;
   } */

h4 {
    font-family: Young;
    color:#142544;
    font-size: 20px;
}

h5{
  color: #de118b;
  font-family: Romantic;
  padding-left: 20px;
  font-size: 55px;
  margin-bottom: 0px;
  margin-top: 0px;
 }
   
p{
    font-family: Young;
    color:#142544;
    font-size: 20px; 
    text-align: left;
    width: 60%;
    max-width: 700px;
    min-width: 400px;
    padding-left: 15px;
    /* background-color: #ababe7; */
    /* if you want a background colour in just the about section you need to create a class */
}

.contactinfo{
    font-family: Young;
    max-width: 300px;
    color:#142544;
    font-size: 22px; 
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: #cacaed;
    border: #a695d9 5px dashed;
    border-radius: 15px;
}

.home{
    position: relative;
    font-family: Young;
    color:#142544;
    font-size: 20px; 
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    margin-bottom: 10px;
    line-height: 15px;
    background-color: rgb(132, 95, 211);
    border-radius: 10px;
    text-align: left;
    
}

.home:hover{
    background-color:#142544;
    color: #82fdff;
}

/* Key is for the menu (Home About Sound Light) (*/
.key{
    font-family: Young;
    /* color:#142544;
    background-color: #b7b7e2;
    border: #142544 3px solid; */
    color: #b7b7e2;
    border: #142544 3px solid;
    background-color: #142544;
    border-radius: 200px;
    font-size: 17px; 
    text-decoration: none;
    padding: 15px;
    margin-right: 30px;
    position: sticky;
}

.key:hover{
  color:#142544;
  background-color: #b7b7e2;
  border: #142544 3px solid;
  border-radius: 200px;
}
  
  .key2{
    font-family: Romantic;
    color:#d3d3ef;
    font-size: 45px; 
    text-decoration: none;
    padding: 20px;
    margin-right: 20px;
}

.rectangle {
    height: 100px;
    max-width: 2000px;
    background-color: #5f5581;
    padding-top: 17px;
  }

.tracking-in-expand-fwd{-webkit-animation:tracking-in-expand-fwd .8s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand-fwd .8s cubic-bezier(.215,.61,.355,1.000) both}
@-webkit-keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px);transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px);transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: top;}

/* GRID */
.item1 { grid-area: pro1; }
.item2 { grid-area: pro2; }
.item3 { grid-area: pro3; }

.grid-container {
  display: grid;
  grid-template-areas:
    'pro1 pro2'
    'pro3 0';
  gap: 20px;
  padding: 20px;
}

.grid-container > div {
  text-align: left;
}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  text-align: left;
}

/* input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #b7b7e2;
    color: #142544;
    background-color: #b7b7e2;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Young;
  }
  
  input[type=submit] {
    width: 70%;
    background-color: #b7b7e2;
    color: #142544;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Young;
  }
  
  input[type=submit]:hover {
    background-color: #712291;
    color: #b7b7e2;
    font-family: Young;
  }
  
  div {
    border-radius: 5px;
    padding: 20px;
  } */


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Sound Design explanation text */
.text{
  font-family: Young;
  font-size: 20px;
  text-align: left;
  margin: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  width: 90%;
  background-color: #d3d3ef;
  border: #a695d9 5px dashed;
}

/* The dots/bullets/indicators */
.dot {
  font-family: Young;
  cursor: pointer;
  padding: 12px;
  margin-left: 20px;
  margin-bottom: 30px;
  background-color: #bbb;
  border-radius: 90px;
  display: inline-block;
  transition: background-color 0.4s ease;
  font-size: 25px;
  text-align: center;
}

.active, .dot:hover {
  background-color: #5f5581;
  color:#b7b7e2;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
/* @media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
} */

.box {
  color: #311444;
}

.box {
  transition: color 0.6s;
}

.box:hover {
  color: #de118b;
}

/* Explosion on aisle 9 (italics in the about section) */
.explosion {
  color: #142544;
}

.explosion:hover {
  animation: explode 0.4s infinite;
}

@keyframes explode {
 0%,100% {
   color: #142544;
 }

 2% {
  color: #656255;
 }

 10% {
  color: #817235;
 }

 20% {
   color:yellow;
 }

 35% {
  color:#ffcc00;
 }

 50% {
   color:orange;
 }

 60% {
  color: #ff6f00;
 }

 75% {
   color:rgb(255, 0, 128);
 }

 85% {
  color: #656255;
 }

}



